html
    head
        title= "Real time web chat"
        script(src='/client.js')
        script(src='/third-party/raphael-2.1.2.js')
        script(src='/socket.io/socket.io.js')
    body
        div(id="viewport" width="800" height="800")
