html
    head
        title= "Real time web chat"
        link(rel="stylesheet" type="text/css" href="/css/main.css")
        script(data-main='/js/client' src="/js/third-party/require.js")
    body
        div(id="viewport")
