html
    head
        title= "Whimsy | Collaborative Playground"
        link(rel="stylesheet" type="text/css" href="/css/main.css")
        script(data-main='/js/client' src="/js/third-party/require.js")
    body
        div(id="viewport")
        button(id="toggleControl").
            Run On Server

